.date-time {
  width: 60%;
  color: whitesmoke;
  margin: 1rem;
}

.date-time-container {
  padding: 1rem;
  background: rgb(33, 32, 88);
  background: linear-gradient(
    100deg,
    rgba(33, 32, 88, 1) 0%,
    rgba(2, 0, 36, 1) 21%,
    rgba(30, 29, 82, 1) 34%,
    rgba(25, 25, 71, 1) 55%,
    rgba(2, 0, 36, 1) 89%,
    rgba(33, 32, 88, 1) 100%
  );
}

.date-time-inner {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.date {
 
    
 
}

.time {
  font-size: 1.5rem;
}
