.currency {
  width: 60%;
  color: whitesmoke;
  margin: 1rem;
}
.currency-container {
  background: rgb(33, 32, 88);
  background: linear-gradient(
    100deg,
    rgba(33, 32, 88, 1) 0%,
    rgba(2, 0, 36, 1) 21%,
    rgba(30, 29, 82, 1) 34%,
    rgba(25, 25, 71, 1) 55%,
    rgba(2, 0, 36, 1) 89%,
    rgba(33, 32, 88, 1) 100%
  );
  margin: auto;
  padding: 1rem;
}

.title {
  text-align: center;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid white;
}

.currency-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 1rem;
}

.flag {
  width: 32px;
  height: 20px;
  background-position: center;
  background-size: cover;   
}

.currency-item-box {
    width: 3rem;
     text-align: right;
}
